* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
}

window#waybar {
  background-color: #1a1b26;
  /* border-bottom: 2px solid #a6e3a1;*/
  color: #a9b1d6;
  font-weight: bold;
}

#custom-cmus {
  color: @foreground;
  padding: 0 15px;
  font-weight: bold;
}

#workspaces button {
  padding: 0 5px;
  color: #cdd6f4;
  font-weight: bold;
}

#workspaces button.active {
  border-bottom: 2px solid #33ccff;
}

#tray {
    /* background-color: #7f849c;
    border-radius: 10px; */
    padding: 0 4px;
    margin-bottom: 2px;
}

#memory {
    margin: 4px;
    padding: 0 10px;
    color: #f7768e;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #f38ba8; /* Maroon/Red for oppmerksomhet */
}

#cpu {
  color: #e0af68;
  padding: 0 10px;
  margin: 4px 0;
  font-weight: bold;
}

#network {
  color: #7aa2f7;
  padding: 0 10px;
  margin: 4px 0;
  font-weight: bold;
}

#battery,
#pulseaudio {
  color: #ad8ee6;
  padding: 0 10px;
  margin: 4px 0;
  font-weight: bold;
  
}
#clock {
  font-weight: bold;
  padding: 0 10px;
  margin: 4px 0;
  color: #9ece6a;
}

#backlight {

}

#custom-tailscale {
  font-weight: bold;
  padding: 1px 10px;
  margin: 4px 1px;
  color: #9ece6a;
}

#custom-separator {
  padding: 1px 10px;
  color: #444b6a; 
}

#tooltip {
  padding: 2px;
  background-color: rgba(30, 30, 46, 0.9);
  border-width: 2px;
  border-style: solid;
  border-color: #444b6a;
  border-radius: 4px;
}

#battery.critical {
  color: #f38ba8;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {background-color: #f38ba8; color: #1e1e2e; }
}
